@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-10 {
  background-color: rgba(230, 230, 230, 0.5);
}

.bg-30 {
  background-color: rgba(144, 142, 142, 0.5);
}

.bg-main {
  background-color:beige;
}
